[Settings]
[Configuration]
AHK=D:\Software\DEV\Work\AHK2\Projects\AhkAppsLauncher\AhkAppsLauncher.ahk
AHK_EXE=D:\Software\DEV\Work\AHK2\AhkApps\AhkAppsLauncher.exe
ISS=C:\Users\Jim\Documents\AutoHotkey\AhkBuilder\Templates\AhkBuilderTemplate_AllFiles.iss
ISS_EXE=D:\Software\DEV\Work\AHK2\Projects\AhkAppsLauncher\AhkAppsLauncher_setup_vX.X.X.X.exe
