[Settings]
[Configuration]
AHK=D:\Software\DEV\Work\AHK2\Projects\AhkLauncher\AhkLauncher.ahk
AHK_EXE=D:\Software\DEV\Work\AHK2\Projects\AhkLauncher\AhkLauncher.exe
ISS=C:\Users\Jim\Documents\AutoHotkey\AhkSetupBuilder\Templates\Template_OneFile_UserStartup.iss
ISS_EXE=D:\Software\DEV\Work\AHK2\Projects\AhkLauncher\AhkLauncher_setup_vX.X.X.X.exe
