[Configuration]
AHK=D:\Software\DEV\Work\AHK2\Projects\CopyVS\CopyVS.ahk
AHK_EXE=D:\Software\DEV\Work\AHK2\Projects\CopyVS\CopyVS.exe
ISS=C:\Users\Jim\Documents\AutoHotkey\AhkBuilder\Templates\AhkBuilderTemplate_OneFile.iss
ISS_EXE=D:\Software\DEV\Work\AHK2\Projects\CopyVS\CopyVS_setup_vX.X.X.X.exe
