[Settings]
[Configuration]
AHK=D:\Software\DEV\Work\AHK2\Projects\PowerControlTool\PowerControlTool.ahk
AHK_EXE=D:\Software\DEV\Work\AHK2\Projects\PowerControlTool\PowerControlTool.exe
ISS=C:\Users\Jim\Documents\AutoHotkey\AhkSetupBuilder\Templates\Template.iss
ISS_EXE=D:\Software\DEV\Work\AHK2\Projects\PowerControlTool\PowerControlTool_setup_vX.X.X.X.exe
